/* 鼠标样式 */
body {
    cursor: url(../img/mouse/default.cur),
    default;
}

a, i, img, span {
    cursor: url(../img/mouse/pointer.cur),
    default;
}

/* span 小标签*/
span.inline-tag {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 90%;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .1rem;
    border-radius: 6px;
    background-color: var(--Color)
}

p.red, span.red {
    --Color: rgb(233, 30, 100);
    --ColorA: rgba(233, 30, 100, 0.2);
}

p.green, span.green {
    --Color: rgb(139, 195, 74);
    --ColorA: rgba(139, 195, 74, 0.2);
}

p.blue, span.blue {
    --Color: rgb(3, 169, 244);
    --ColorA: rgba(3, 169, 244, 0.2);
}

p.yellow, span.yellow {
    --Color: rgb(255, 193, 7);
    --ColorA: rgba(255, 193, 7, 0.2);
}

p.grey, span.grey {
    --Color: rgb(76, 76, 76);
    --ColorA: rgba(76, 76, 76, 0.2);
}

/* 滚动条 */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #e58a8a;
}

/* Twikoo 评论框高度 */
#twikoo .el-textarea__inner {
    min-height: 180px !important;
}

#twikoo .el-textarea__inner:focus {
    background-image: none !important;
}

#twikoo .tk-comment {
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #DBDCDC;
    background: rgba(255, 255, 255, 0.5);
}

/* 页脚透明 */
#footer{
    background: transparent!important;
}
/*!* 页脚黑色透明玻璃效果移除 *!*/
/*#footer::before{*/
/*    background: transparent!important;*/
/*}*/
/* 头图透明 */
#page-header{
    background: transparent!important;
}
/*!* 头图遮罩层透明 *!*/
/*#page-header::before{*/
/*    background: transparent!important;*/
/*}*/

/* 首页文章卡片 */
#recent-posts > .recent-post-item{
    background: rgba(255, 255, 255, 0.9);
}
/* 首页侧栏卡片 */
.card-widget{
    background: rgba(255, 255, 255, 0.9)!important;
}
/* 文章页面正文背景 */
div#post{
    background: rgba(255, 255, 255, 0.9);
}
/* 分页页面 */
div#page{
    background: rgba(255, 255, 255, 0.9);
}
/* 归档页面 */
div#archive{
    background: rgba(255, 255, 255, 0.9);
}
/* 标签页面 */
div#tag{
    background: rgba(255, 255, 255, 0.9);
}
/* 分类页面 */
div#category{
    background: rgba(255, 255, 255, 0.9);
}